{% extends "base.html.twig" %}

{% block title %}Movie{% endblock %}

{% block content %}

    <h1>{{ movie.title }} - ({{ movie.date | date('d/m/Y') }})</h1> 
    <small>
    Genre : {{movie.genre.name}}<br>Directeur : {{movie.director.first_name}} {{movie.director.last_name}}

    </small>

    <div>
    <a href="{{ movie.coverimage }}" target="_blank"><image style ="width : 100px;"src = "{{ movie.coverimage }}"/></a>
    </div>

    <p>{{ movie.description }}</p>
    <small>{{ movie.duration }}</small>

    <h2>Acteurs</h2>

    {%for actor in movie.actors %}

        {{actor.first_name}} {{actor.last_name}}<br>

        {% endfor %}
<pre>
{# {{dump(acteurs)}} #}
</pre>

<form action="addActor" method="POST">
<label>Ajouter Acteurs : </label><br>
<select name="actor_id">
<ul>

    {% for acteur in acteurs %}
    <option value={{acteur.id}}>{{ acteur.prenom }} {{ acteur.nom }}</option> 
    {% endfor %}
</ul>
</select>
<input type ="hidden" name="id" value="{{movie.id}}" >
<input type="submit">
</form>

{% endblock %}